@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.grid {
  margin: 5px 8px 0 8px;
  padding: 0 0 15px 0;
  border: 1px solid #0297c4;
  background-color: $bg-primary;
  @include bdrs;
}

.forecast {
  height: auto !important;
  position: relative;

  .forecastHeader {
    padding: 10px 5px 25px 5px;
    border-bottom: 2px solid #00000042;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
  }

  li span:nth-child(2) {
    width: 100% !important;
  }

  ul li span {
    margin: 3px auto;
  }

  h2 {
    margin-bottom: 6px;
  }

  .form-forecast {
    width: 100%;

    select {
      background-color: transparent;

      option {
        background-color: $bg-primary !important;
      }
    }
  }
}

.btn-page {
  margin-top: 20px;
  background: transparent;
  border: 2px solid #828283;
  border-radius: 5px;
  padding: 3px 14px;
  font-size: 13px;
}

.btn-select {
  padding: 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;

  button:disabled {
    opacity: 0.5;
  }

  .btn-languages {
    padding-top: 3px;

    button {
      width: 34px;
      height: 24px;
      margin-right: 3px;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 520px) {
  .grid {
    color: red;
    margin: 10px auto;
    width: 80%;
    text-align: center;
  }
}

@media (min-width: 950px) {
  .grid {
    color: red;
    padding: 0;
    margin: 5px auto;
    width: 50%;
    text-align: center;
  }

  .btn-select {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}