.grid {
  margin: 10px 8px 0 8px;
  padding: 0 0 15px 0;
  border: 1px solid #0296c4;
  position: relative;
  background-color: $bg-primary;
  @include bdrs;
}
.btn-page {
  margin-top: 20px;
  background: transparent;
  border: 2px solid #828283;
  border-radius: 5px;
  padding: 3px 14px;
  font-size: 13px;
}
.btn-select {
  padding: 10px 0;
  position: absolute;
  right: 10px;
  button:disabled { opacity: 0.5;}
  button {
    width: 25px;
    height: 18px;
    margin-right: 3px;
    img {
      width: 100%;
    }
  }
}
@media (min-width: 520px) {
  .grid {
    color: red;
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
}
@media (min-width: 950px) {
  .grid {
    color: red;
    padding: 0;
    margin: 5px auto;
    width: 50%;
    text-align: center;
  }
}
