.grid {
  margin: 15px 8px 0 8px;
  border: 1px solid #0296c4;
  background-color: $bg-primary;
  @include bdrs;
}
@media (min-width: 520px) {
  .grid {
    color: red;
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .grid {
    color: red;
    margin: 20px auto;
    width: 50%;
    text-align: center;
  }
}
