.showcase,
.details {
  height: 100%;
  color: #000000;
  text-align: center;
}
.topInfo,
.bottomInfo,
li {
  display: flex;
  justify-content: space-evenly;
}
.showcase {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  h3 {
    font-size: 19px;
  }
  img {
    transform: scale(1.4);
  }
}
.details {
  padding: 10px 0;
  li {
    justify-content: space-around;
    width: 90%;
    font-size: 17px;
    padding: 20px 0;
    border-bottom: 1px solid #7e7e7e;
    margin: 0 auto;
    span {
      &:first-child {
        width: 50%;
      }
      &:nth-child(2) {
        width: 50%;
        font-weight: 700;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
}
@media (min-width: 480px) {
  .details li {
    width: 70%;
    padding: 10px 0;
  }
}
@media (min-width: 768px) {
  .details li {
    font-size: 20px;
  }
  .showcase h3 {
    font-size: 22px;
  }
}
